*{
    box-sizing: border-box;
}
html, body{
    height:100%;
    color:white;
    font-family: 'Lato', sans-serif;
    
}

.heading{
    padding-top: 30%;
}

#section-about{
    color: black;
}

.tab-content{
    color: black;
    font-family: 'Montserrat', sans-serif;
}


#link{
    color:white;
}

#link1{
    color:white;
}

#link2{
    color:white;
}

#link3{
    color:white;
}
 
#link4{
    color: white;
}

#link5{
    color: white;
}

.pd_tab_v1 ul{ 
    margin-bottom: 70px;
}

#section-menu{
    color:black;
}

hr{
    width:400px;
}

.pb_tab_v1 .nav-item a {
    color: #495057;
    border:1px solid #e9ecef;
  
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: .2em;
}

.pb_tab_v1{
    display: block;
    margin: 0 0 10px 0;
}
